@using BiolifeOrganic.Bll.ViewModels.Category
@using BiolifeOrganic.Bll.ViewModels.Product
@using BiolifeOrganic.Dll.DataContext.Entities
@model List<ProductViewModel>


<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <input type="text" id="productSearch" class="form-control" placeholder="Search product..."
                        oninput="searchProducts()" />
                    </div>
                    <div class="col-md-4">
                        <select id="categoryFilter" class="form-control" onchange="searchProducts()">
                            <option value="">All Categories</option>
                            @foreach (var c in ViewBag.Categories as List<CategoryViewModel>)
                            {
                                <option value="@c.Id">@c.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <h4 class="card-title">Products</h4>
                <a class="btn btn-primary" asp-controller="Product" asp-action="create">
                    Add
                </a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody id="productsBody">
                            @foreach (var item in Model ?? [])
                            {
                                <tr>
                                    <td><img src="~/images/products/@item.ImageUrl" width="100" height="100" /></td>
                                    <td>@item.Name</td>
                                    <td>
                                        <a class="btn btn-primary" asp-controller="product" asp-action="details" asp-route-id="@item.Id">Details</a>
                                        <a class="btn btn-warning" asp-controller="product" asp-action="update" asp-route-id="@item.Id">Update</a>
                                        <a class="btn btn-danger" onclick="deleteProduct(@item.Id,this)">Delete</a>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
