@using BiolifeOrganic.Bll.ViewModels
@model FooterViewModel

<footer id="footer" class="footer layout-03">
    <div class="footer-content background-footer-03">
        <div class="container">
            <div class="row">

                <!-- LOGO + WEB CONTACT -->
                <div class="col-lg-4 col-md-4 col-sm-9">
                    <section class="footer-item">

                        @foreach (var logo in Model.Logos)
                        {
                            <a asp-controller="Home"
                               asp-action="Index"
                               class="logo footer-logo">
                                <img src="~/images/logos/@logo.LogoUrl"
                                     alt="biolife logo"
                                     width="135"
                                     height="34" />
                            </a>
                        }

                        @if (Model.WebContact != null)
                        {
                            <div class="footer-phone-info">
                                <i class="biolife-icon icon-head-phone"></i>
                                <p class="r-info">
                                    <span>Got Questions?</span>
                                    <span>@Model.WebContact.PhoneNumber</span>
                                </p>
                            </div>
                        }
                        else
                        {
                            <p class="text-muted">No web contact available</p>
                        }

                        <div class="biolife-social inline">
                            <ul class="socials">
                                <li><a href="https://x.com/" class="socail-btn"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/" class="socail-btn"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.pinterest.com/" class="socail-btn"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="https://www.youtube.com/" class="socail-btn"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="https://www.instagram.com/" class="socail-btn"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>

                    </section>
                </div>

                <!-- NEWSLETTER -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <section class="footer-item">
                        <h3 class="section-title">Newsletter Signup</h3>

                        <div class="newsletter-block layout-01">
                            <div class="form-content">
                                <input type="email"
                                       id="newsletterEmail"
                                       class="input-text email"
                                       placeholder="Your email here..." />
                                <button type="button"
                                        id="btnSubscribe"
                                        class="bnt-submit">
                                    Sign up
                                </button>
                                <p id="newsletterMessage"></p>
                            </div>
                        </div>
                    </section>
                </div>

                <!-- TRANSPORT DEFAULT CONTACT -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <section class="footer-item">
                        <h3 class="section-title">Transport Office</h3>

                        @if (Model.TransportContact != null)
                        {
                            <div class="contact-info-block footer-layout">
                                <ul class="contact-lines">

                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-location"></i>
                                            <b class="desc">Address: @Model.TransportContact.Address</b>
                                        </p>
                                    </li>

                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-phone"></i>
                                            <b class="desc">Phone: @Model.TransportContact.PhoneNumber</b>
                                        </p>
                                    </li>

                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-letter"></i>
                                            <b class="desc">Email: @Model.TransportContact.EmailAgree</b>
                                        </p>
                                    </li>

                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-clock"></i>
                                            <b class="desc">Hours: @Model.TransportContact.Schedule</b>
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        }
                        else
                        {
                            <p class="text-muted">No transport office available</p>
                        }

                    </section>
                </div>

            </div>
        </div>
    </div>
</footer>
