@using BiolifeOrganic.Bll.ViewModels.Basket
@model List<BasketItemViewModel>

@if (Model == null || !Model.Any())
{




    <div>
        <h4>
            Your basket is empty!
        </h4>
        <p class="btn-control">

            <a asp-controller="shop" asp-action="index" class="btn view-cart">Go to Shop</a>

        </p>

    </div>

}
else
{  
    @foreach(var item in Model)
    {
        <li>
            <div class="minicart-item">

                <div class="thumb">
                    <a asp-controller="shop" asp-action="detail" asp-route-id="@item.ProductId"><img src="~/images/products/@item.ProductImageUrl" width="90" height="90"></a>
                </div>

                <div class="left-info">
                    <div class="product-title">
                        <a href="#" class="product-name">@item.ProductName</a>
                    </div>

                    <div class="price">
                        <ins><span class="price-amount"> ₼@item.Price</span></ins>

                        @if (item.OldPrice != null)
                        {
                            <del><span class="price-amount"> ₼@item.OldPrice</span></del>
                        }
                    </div>

                    <div class="qty">
                        <label>Qty:</label>
                        <input type="number"
                               class="input-qty"
                               value="@item.Quantity"
                               onchange="changeQty(@item.ProductId, this.value)">
                    </div>
                </div>

                <div class="action">
                    <a href="javascript:void(0)" onclick="removeItem(@item.ProductId)" class="remove">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>

            </div>
        </li>


    }
     
               
           

        
            

                
               


           
       
       
       

    
    
            

    
        
       



}




