@using BiolifeOrganic.Bll.ViewModels.Header
@model HeaderViewModel


<!-- HEADER -->
<header id="header" class="header-area style-01 layout-03">
    <div class="header-top bg-main hidden-xs">
        <div class="container">
            <div class="top-bar left">
                <ul class="horizontal-menu">
                    
                        <li><a asp-controller="contact" asp-action="index"><i class="fa fa-envelope" aria-hidden="true"></i>@Model.WebContacts!.EmailAgree</a></li>

                   
                </ul>
            </div>
            <div class="top-bar right">

                <ul class="horizontal-menu" style="text-align:center">

                    @if (User.Identity!.IsAuthenticated)
                    {
                        <li>

                            
                            <a>@User.Identity.Name</a>
                            <a asp-controller="account" asp-action="logout">
                                <i class="biolife-icon icon-login"></i>Log Out
                            </a>
                        </li>  
                        <li>
                            <a asp-controller="account" asp-action="changepassword">
                                Change Password

                            </a>

                        </li>
                        <li>
                            <a asp-controller="order" asp-action="index">
                               My Orders

                            </a>

                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="account" asp-action="login">
                                <i class="biolife-icon icon-login"></i>
                                <span></span>Log in
                            </a>

                        </li>

                        <li>
                            <a asp-controller="account" asp-action="register">Register</a>

                        </li>
                    }






                </ul>

            </div>
        </div>
    </div>

















    <div class="header-middle biolife-sticky-object ">
        <div class="container">
            <div class="row">
                @foreach(var log in Model.Logos)
                {
                    <div class="col-lg-3 col-md-2 col-md-6 col-xs-6">
                        <a asp-controller="home" asp-action="index" class="biolife-logo"><img src="~/images/logos/@log.LogoUrl" alt="biolife logo" width="135" height="34"></a>
                    </div>
                }

                <div class="col-lg-6 col-md-7 hidden-sm hidden-xs">
                    <div class="primary-menu">
                        <ul class="menu biolife-menu clone-main-menu clone-primary-menu" id="primary-menu" data-menuname="main menu">
                            <li class="menu-item"><a asp-controller="home" asp-action="index">Home</a></li>
                            <li class="menu-item">
                                <a asp-controller="shop" asp-action="index">Shop</a>
                            </li>
                            <li class="menu-item"><a asp-controller="basket" asp-action="index">Basket</a></li>
                            
                            <li class="menu-item"><a asp-controller="wishlist" asp-action="index">Wishlist</a></li>

                            <li class="menu-item"><a asp-controller="contact" asp-action="index">Contact</a></li>

                            <li class="menu-item"><a asp-controller="aboutus" asp-action="index">About Us</a></li>

                        </ul>
                    </div>
                </div>




                <div class="col-lg-3 col-md-3 col-md-6 col-xs-6">
                    <div class="biolife-cart-info">
                       

                           @await Component.InvokeAsync("WishlistCount")
                        
                       
                        
                        <div class="minicart-block">
                            <div class="minicart-contain">
                                
                                
                                   
                                    @await Component.InvokeAsync("MiniHeaderBasket")

                               

                               
                                
                                


                               
                                <div class="cart-content">
                                    <div class="cart-inner">
                                        <ul class="products">
                                            
                                                @await Component.InvokeAsync("MiniBasket")

                                                
                                            
                                          
                                        </ul>
                                        <p class="btn-control">

                                            <a asp-controller="basket" asp-action="index" class="btn view-cart">view cart</a>
                                            <a asp-controller="checkout" asp-action="index" class="btn">checkout</a>
                                        </p>
                                       
                                       
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu-toggle">
                            <a class="btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="header-bottom hidden-sm hidden-xs">
        <div class="container">
            <div class="row">

                <div class="col-lg-9 col-md-8 padding-top-2px">
                    <div class="header-search-bar layout-01">
                        <form asp-controller="Search" asp-action="Index"  class="form-search" name="desktop-seacrh" method="get">
                            <input id="searchBox" type="text" name="searchText" class="input-text" value="" placeholder="Search here...">
                            <select id="categorySelect" name="categoryId">
                                <option value="">All Categories</option>
                                @foreach(var item in Model.Categories)
                                {
                                    <option value=@item.Id>@item.Name</option>
                                }

                            </select>
                            <button type="submit" class="btn-submit"><i class="biolife-icon icon-search"></i></button>
                        </form>

                        <div id="liveSearchResults" class="live-results"></div>

                    </div>
                    <div class="live-info">
                        
                       
                            <p class="telephone"><i class="fa fa-phone" aria-hidden="true"></i><b class="phone-number">@Model.WebContacts!.PhoneNumber</b></p>
                            <p class="working-time">@Model.WebContacts.Schedule</p>
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div> 
</header>

